@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif; 
}
/* banner style */
.banner-container{
  max-width: 1320px; 
  height: 600px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(/new-year-offer-resources/images/Banner\ Image.png) ; 
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-content{
position: absolute;
width: 632px;
height: 246px;
left: 484px;
right: -484px;
top: 227px;
bottom: -227px;
}
.banner-content p{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center; 
}
.banner-content h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}
/* 65% 0ff section style */
.offer{
    position: absolute;
    width: 802.9px;
    height: 806px;
    left: 399px;
    right: 398.1px;
    top: 700px; 
}
.head{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    padding-bottom: 20px;
    text-align: center;  
}
.sub-title{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.title{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.img{
    border: dotted gray;
}
/* midnight party section */
.midnight-party{
    position: absolute;
    width: 1320px;
    height: 600px;
    left:10.61%;
    right: -10.61%;
    top: 1510px;
    border-radius: 16px;
    background-image:linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(new-year-offer-resources/images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.head2{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 900;
    top: 50px;
    margin: 50px;
    padding: 50px;
}
.describe{
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    width: 600px;
    height: 60px;
    left: 100px;
    top: 320px;   
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}
.join-now{
    position: absolute;
width: 103px;
height: 24px;
left: 130px;
top: 400px;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 700;
}
.midnight-img{
    position: absolute;
    width: 349.16px;
    height: 464.65px;
    left: 850px;
    top: 55px;
    bottom: 0%;
}
/* third section style */
.third-section{
    position: absolute;
width: 1320px;
height: 482px;
left: 10.61%;
right: -10.61%;
top: 2200px;
border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.detail{
font-size: 32px;
font-weight: 600;
line-height: 56px;
margin-top:100px;
text-align: center;
text-transform: capitalize;
}
.red{
    color: red;
}
.btn{
    border-radius: 8px;
    background: rgb(255, 0, 0);
    position: relative;
width: 167px;
height: 56px;
border: none;
color: white;
left: 45%;
top:50px ;
}
/* fourth section style */
.fourth-section{
    position: absolute;
width: 1320px;
height: 463px;
left: 10.61%;
right:-10.61%;
top: 2770px;
border-radius: 16px;
display: flex;
}
.left{
 width: 33.33%;
 height: 100%;
}
.NEW-BEST-OFFER{
    position: absolute;
    height: 29px;
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    top: 110px;
}
.Coming-Soon{
    position: absolute;
    height: 60px;
    top: 155px;
    color: rgb(7, 2, 17);
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    text-transform: capitalize;
}
.Dolor{
    position: absolute;
    height: 128px;
    width: 393px;
    top: 230px;
    color: rgba(7, 2, 17, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left; 
}
.middle{
    width: 33.33%;
    height: 100%;
    width:463px;
    height: 463px;
    border-radius: 50%;
    border: 20px solid red;
}
.ellip-img{
position: absolute;
width: 364.84px;
height: 364.84px;
left: 475px;
top: 48px;
}
.right{
    width: 33.33%;
 height: 100%;
}
.year{
    color: red;
    font-size: 42px;
    font-weight: 700px;
    width: 126px;
    height: 58px;
    line-height: 58px;
    padding-bottom: 80px;
}
.text{
    color: rgba(7, 2, 17, 0.6);
    font-size: 16px;
    font-weight: 400px;
    padding-bottom: 50px;
    line-height: 32px;
}
 .right-contant{
    margin-top: 20%;
    margin-left: 40%;  
} 

